{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplie</title>
    <link rel="stylesheet" type="text/css " href="{% static 'vendors/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css "
      href="{% static 'vendors/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" type="text/css " href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'vendors/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap.min.js'%}"></script>
    <script src="{% static 'vendors/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/dataTables.bootstrap4.min.js' %}"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
