{% extends 'sections/base.html' %}
{% load static %}
{% block title %}
Product Dashboard
{% endblock %}
{% block content %}

<div class="container">

  <div class="d-flex align-items-center justify-content-between">
    <button class="button btn-amber rounded px-2" type='button'>
      <a href='{% url 'product:registration' %}'>Add Product</a>
    </button>
    <h1>Product</h1>
    <div class='d-flex justify-content-end align-items-center'>
      <h6 class="mx-2">Date Range:</h6>
      <input class="input-text my-4" type="text" name="daterange" value="01/01/2020 - 12/31/2020" />
    </div>
  </div>
  <table id="example" class="table table-striped table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th>Date Registered</th>
        <th>Category</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price (php)</th>
        <th>Color Variant</th>
        <th>No. of Items</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.date_registered }}</td>
        <td>{{ product.get_category_display }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.get_color_display }}</td>
        <td>{{ product.no_of_stocks }} pcs</td>
        <th>
          <a href="#open-modal{{ product.id }}"><button id="open"
              class="button btn-outline-primary rounded px-1">View</button></a>
          <a href="#delete-modal{{ product.id }}"><button id="delete"
              class="button btn-outline-danger rounded px-1">Delete</button></a>
        </th>
      </tr>
      <div id="open-modal{{ product.id }}" class="modal-window">
        <div class='modal-window--medium'>
          <a href="#" title="Close" class="modal-close">&#x2716</a>
          <div class="input-group mb-4 mt-3">
            <div class="input-group my-2 d-flex align-content-center justify-content-center">
              <form action="" method="post">
                {%csrf_token%}
                {% for product_image in images %}
                {% if product_image.product_id == product.id %}
                <div class="d-flex justify-content-center">
                  <img src="{{ product_image.image.url }}" id="output" alt="product_image" width="75" height="75"
                    style=" border: 1px solid; object-fit: cover; border-radius: 10%; width:100; height:100">
                </div>
                <input type="file" class="" id="file" style="width: 20vw; display:none;"
                  name="image{{ forloop.counter }}" onchange="loadFile(event)" />
                {% endif %}
                {% endfor %}
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input name="name" type="text" aria-label="Name" value="{{ product.name }}" class="form-control"
              style="height: inherit" required />
          </div>

          <div class="input-group">
            <div class="input-group-prepend mb-0">
              <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
            </div>
            <input name="brand" type="text" value="{{ product.brand }}" class="form-control" aria-label="Brand"
              aria-describedby="inputGroup-sizing-default" style="height: inherit" required />
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
            </div>
            <input name="price" value="{{ product.price|floatformat:2 }}" type="number" step="0.05" min="0" class="form-control"
              aria-describedby="inputGroup-sizing-default" style="height: inherit" required/>
            <label for="category" style="
              background: #e9ecef;
              padding: 6px 12px;
              margin: 0;
              border: 1px solid rgb(190, 190, 190);
            ">Category</label>
            <select name="category" id="category" required>
              {% for category in categories %}
              {% if category.0 == product.category %}
              <option value="{{ category.0 }}" selected> {{ category.1 }}</option>
              {% else %}
              <option value="{{ category.0 }}"> {{ category.1 }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="input-group">
            <div class="input-group-prepend mb-0">
              <span class="input-group-text" id="inputGroup-sizing-default">Stocks</span>
            </div>
            <input name="no_of_stocks" value="{{ product.no_of_stocks }}" type="number" min="0" max="999" class="form-control"
              aria-label="Stocks" aria-describedby="inputGroup-sizing-default" style="height: inherit"  required/>
            <label for="color" style="
              background: #e9ecef;
              padding: 6px 12px;
              margin: 0;
              border: 1px solid rgb(190, 190, 190);
            ">Color Variant</label>
            <select name="color" id="color" required>
              {% for color in colors %}
              {% if color.0 == product.color %}
              <option value="{{ color.0 }}" selected>{{ color.1 }}</option>
              {% else %}
              <option value="{{ color.0 }}">{{ color.1 }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="input-group justify-content-end">
            <div class="input-group-prepend">
              <footer>
                <button type="submit" name="btnupdate" value="{{product.id}}"
                  class='button btn btn-success'>Update</button>
              </footer>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="delete-modal{{ product.id }}" class="modal-window">
        <div class="p-0 pb-3 modal-window--small">
          <a href="#" title="Close" class="modal-close">&#x2716</a>
          <div class="modal-header mb-3 d-flex justify-content-center"
            style="background-color: rgb(56, 54, 54) !important;height:30px;"></div>
          <h2 class="my-4 text-center">Delete Entry?</h2>
          <footer class='d-flex justify-content-center'>
            <form action="" method="post">
              {%csrf_token%}
              <button type="submit" name="btndelete" value="{{product.id}}" class='button btn btn-success'>Delete
              </button></form>
          </footer>
        </div>
      </div>

      <script>

        $(() => {
          $('#delete{{ product.id }}').click((e) => {
            $('#delete-modal{{ product.id }}').show()
          })
        })

        $(() => {
          $('#open{{ product.id }}').click((e) => {
            $('#open-modal{{ product.id }}').show()
          })
        })

      </script>
      {% endfor %}

    </tbody>
    <tfoot>
      <tr>
        <th>Date Registered</th>
        <th>Category</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Color Variant</th>
        <th>No. of Items</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
  integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
  crossorigin="anonymous"></script>

</script>
{% endblock %}